## Nashville Rock 'n' Roll Marathon

### Scrape race results from 2016-2019 

This accomplishes the same thing as the entirety of the code of in the "inelegant" workbook. Rather than run the code eight separate times, this code makes lists of base URLs, years, and race types, and retrieves all results in a single nested loop.

In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [2]:
# Base URL's for half and full marathon results, with varying number of pages for each
# Iterate through each base URL

urls = ['https://www.runrocknroll.com/Events/Nashville/The-Races/Marathon/2019-Results?gender=&agegroup=&bib=&firstname=&lastname=&page=',
        'https://www.runrocknroll.com/Events/Nashville/The-Races/Marathon/2018-Results?gender=&agegroup=&bib=&firstname=&lastname=&page=',
        'https://www.runrocknroll.com/Events/Nashville/The-Races/Marathon/2017-Results?gender=&agegroup=&bib=&firstname=&lastname=&page=',
        'https://www.runrocknroll.com/Events/Nashville/The-Races/Marathon/2016-Results?gender=&agegroup=&bib=&firstname=&lastname=&page=',
        'https://www.runrocknroll.com/Events/Nashville/The-Races/Half-Marathon/2019-Results?gender=&agegroup=&bib=&firstname=&lastname=&page=',
        'https://www.runrocknroll.com/Events/Nashville/The-Races/Half-Marathon/2018-Results?gender=&agegroup=&bib=&firstname=&lastname=&page=',
        'https://www.runrocknroll.com/Events/Nashville/The-Races/Half-Marathon/2017-Results?gender=&agegroup=&bib=&firstname=&lastname=&page=',
        'https://www.runrocknroll.com/Events/Nashville/The-Races/Half-Marathon/2016-Results?gender=&agegroup=&bib=&firstname=&lastname=&page=']

In [3]:
# Order of URLs corresponds to the following year and race type order
# Iterate through each year and race type

years = ['2019', '2018', '2017', '2016', '2019', '2018', '2017', '2016']
types = ['Full', 'Full', 'Full', 'Full', 'Half', 'Half', 'Half', 'Half']

#### Loop through race results

In [5]:
n = 1

# Test whether table is empty
def table_empty(frame):
    return True if outcomes.empty else False

# Create empty dataframes to fill with scraped data
race_results = pd.DataFrame()
all_results = pd.DataFrame()

# There are eight sets of race results 
for x in range(0, 8):

    # While page has race results data
    while True:
        response = requests.post(urls[x] + str(n))
        soup = BeautifulSoup(response.content, "html.parser")
        results = soup.find(attrs={"class": "race-search-main"}) \
            .find("table")
        # create dataframe from HTTP results
        raceframes = pd.read_html(str(results))
        outcomes = raceframes[0]
        # add year and race type columns
        outcomes['year'] = years[x]
        outcomes['type'] = types[x]
        # next base url when page is empty
        if table_empty(outcomes):
            break
        # add single year/type race outcomes to all year/type race outcomes 
        race_results = pd.concat([race_results, outcomes], ignore_index=True)
        n += 1
        
    n = 1

# export data to csv to avoid re-running code
race_results.to_csv('../data/all_race_results.csv', index=False)

# display race result table
race_results

       Overall    Bib             Name      Time  year  type
0            1  30001   Travis Peruski  01:37:54  2019  Full
1            2      1   Scott Wietecha  02:34:59  2019  Full
2            3      4    Jordan Wilson  02:35:24  2019  Full
3            4  30034   Steelton Flynn  02:39:59  2019  Full
4            5  30035     Thomas Ellis  02:42:09  2019  Full
...        ...    ...              ...       ...   ...   ...
89311    99999  15547  Elizabeth Mahon  00:00:00  2016  Half
89312    99999   9228       Matt Huber  00:00:00  2016  Half
89313    99999  28172        Sara Lopp  00:00:00  2016  Half
89314    99999  39457     Kim Williams  00:00:00  2016  Half
89315    99999  37377   Jenna Neufeldt  00:00:00  2016  Half

[89316 rows x 6 columns]