In [10]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv('../data/all_race_results.csv')

In [12]:
df.head()

   Overall    Bib            Name     Time  year  type
0        1  30001  Travis Peruski  1:37:54  2019  Full
1        2      1  Scott Wietecha  2:34:59  2019  Full
2        3      4   Jordan Wilson  2:35:24  2019  Full
3        4  30034  Steelton Flynn  2:39:59  2019  Full
4        5  30035    Thomas Ellis  2:42:09  2019  Full

In [17]:
df.groupby(["year", "type"])["year"].count()

year  type
2016  Full     3842
      Half    22429
2017  Full     3651
      Half    22292
2018  Full     2115
      Half    14940
2019  Full     2811
      Half    17236
Name: year, dtype: int64