In [212]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [213]:
urlbase_2019 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Marathon/2019-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
urlbase_2018 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Marathon/2018-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
urlbase_2017 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Marathon/2017-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
urlbase_2016 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Marathon/2016-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
urlbase_half_2019 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Half-Marathon/2019-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
urlbase_half_2018 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Half-Marathon/2018-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
urlbase_half_2017 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Half-Marathon/2017-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
urlbase_half_2016 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Half-Marathon/2016-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='

In [221]:
n = 2

def table_empty(frame):
    return True if outcomes.empty else False

response = requests.post(urlbase_2019)
soup = BeautifulSoup(response.content, "html.parser")
results = soup.find(attrs={"class": "race-search-main"}) \
    .find("table")
raceframes = pd.read_html(str(results))
outcomes = raceframes[0]

race_results = outcomes

while True:
    response = requests.post(urlbase_2019 + str(n))
    soup = BeautifulSoup(response.content, "html.parser")
    results = soup.find(attrs={"class": "race-search-main"}) \
        .find("table")
    raceframes = pd.read_html(str(results))
    outcomes = raceframes[0]
    if table_empty(outcomes):
        break
    race_results = pd.concat([race_results, outcomes], ignore_index=True)
    n += 1
    
race_results

      Overall    Bib                Name      Time
0           1  30001      Travis Peruski  01:37:54
1           2      1      Scott Wietecha  02:34:59
2           3      4       Jordan Wilson  02:35:24
3           4  30034      Steelton Flynn  02:39:59
4           5  30035        Thomas Ellis  02:42:09
...       ...    ...                 ...       ...
2806    99999  32577     Brandon Trammel  00:00:00
2807    99999  32497        Brian Miller  00:00:00
2808    99999  32829  Stephanie Whitaker  00:00:00
2809    99999  30158       Darren Guffey  00:00:00
2810    99999  32183      Clarisa Horton  00:00:00

[2811 rows x 4 columns]

In [ ]:
n = 0

response = requests.post(urlbase_2019 + str(n + 1))
response.headers["content-type"]

In [ ]:
response.content

In [ ]:
soup = BeautifulSoup(response.content, "html.parser")
results = soup.find(attrs={"class": "race-search-main"}) \
    .find("table")

In [ ]:
raceframe = pd.read_html(str(results))
raceframe

In [156]:
result_table = raceframe[0]
result_table

    Overall    Bib                Name      Time
0         1  30001      Travis Peruski  01:37:54
1         2      1      Scott Wietecha  02:34:59
2         3      4       Jordan Wilson  02:35:24
3         4  30034      Steelton Flynn  02:39:59
4         5  30035        Thomas Ellis  02:42:09
5         6  33172    Nicholas Tseffos  02:48:42
6         7  30053   Satoshi Mitsumori  02:50:33
7         8  30051    Harrison Kieffer  02:51:18
8         9  30086        Steven Forte  02:54:34
9        10  30042          Grant Rice  02:55:49
10       11  30049       Andrew Fisher  02:56:05
11       12  30038         Edgar Garza  02:56:40
12       13  30094         Wesley King  02:56:58
13       14  30112          Jake Smith  02:57:38
14       15  30096        Mark Laprade  02:58:00
15       16  30142         Scott Roman  02:59:09
16       17  30054       James Nabholz  02:59:59
17       18  30056       Kazufumi Seki  03:01:21
18       19  30084      Nicholas Eulau  03:01:59
19       20  30045      Mitchell Davis  03:02:18
20       21  30075          Eddie Bell  03:03:12
21       22  30039  Montana Klingsporn  03:03:17
22       23      2      Mathias Osmark  03:04:01
23       24  30052          Sean Kunis  03:05:22
24       25  30074      Dylan Beaulieu  03:05:28

In [114]:
response = requests.post(urlbase_2019)
soup = BeautifulSoup(response.content, "html.parser")
results = soup.find(attrs={"class": "race-search-main"}) \
    .find("table")
raceframe = pd.read_html(str(results))
result_table = raceframe[0]

result_table

    Overall    Bib                Name      Time
0         1  30001      Travis Peruski  01:37:54
1         2      1      Scott Wietecha  02:34:59
2         3      4       Jordan Wilson  02:35:24
3         4  30034      Steelton Flynn  02:39:59
4         5  30035        Thomas Ellis  02:42:09
5         6  33172    Nicholas Tseffos  02:48:42
6         7  30053   Satoshi Mitsumori  02:50:33
7         8  30051    Harrison Kieffer  02:51:18
8         9  30086        Steven Forte  02:54:34
9        10  30042          Grant Rice  02:55:49
10       11  30049       Andrew Fisher  02:56:05
11       12  30038         Edgar Garza  02:56:40
12       13  30094         Wesley King  02:56:58
13       14  30112          Jake Smith  02:57:38
14       15  30096        Mark Laprade  02:58:00
15       16  30142         Scott Roman  02:59:09
16       17  30054       James Nabholz  02:59:59
17       18  30056       Kazufumi Seki  03:01:21
18       19  30084      Nicholas Eulau  03:01:59
19       20  30045      Mitchell Davis  03:02:18
20       21  30075          Eddie Bell  03:03:12
21       22  30039  Montana Klingsporn  03:03:17
22       23      2      Mathias Osmark  03:04:01
23       24  30052          Sean Kunis  03:05:22
24       25  30074      Dylan Beaulieu  03:05:28

In [ ]:
n = 2

def table_empty(frame):
    return True if outcomes.empty else False

response = requests.post(urlbase_2019)
soup = BeautifulSoup(response.content, "html.parser")
results = soup.find(attrs={"class": "race-search-main"}) \
    .find("table")
raceframes = pd.read_html(str(results))
outcomes = raceframes[0]

race_results = outcomes

while True:
    response = requests.post(urlbase_2019 + str(n))
    soup = BeautifulSoup(response.content, "html.parser")
    results = soup.find(attrs={"class": "race-search-main"}) \
        .find("table")
    raceframes = pd.read_html(str(results))
    outcomes = raceframes[0]
    if table_empty(outcomes):
        break
    race_results = pd.concat([race_results, outcomes], ignore_index=True)
    n += 1
    
race_results.shape

In [192]:
response = requests.post(urlbase_2019)
soup = BeautifulSoup(response.content, "html.parser")
results = soup.find(attrs={"class": "race-search-main"}) \
    .find("table")
raceframes = pd.read_html(str(results))

response = requests.post(urlbase_2019 + str(2))
soup = BeautifulSoup(response.content, "html.parser")
results = soup.find(attrs={"class": "race-search-main"}) \
    .find("table")
raceframes2 = pd.read_html(str(results))

raceframes

[    Overall    Bib                Name      Time
 0         1  30001      Travis Peruski  01:37:54
 1         2      1      Scott Wietecha  02:34:59
 2         3      4       Jordan Wilson  02:35:24
 3         4  30034      Steelton Flynn  02:39:59
 4         5  30035        Thomas Ellis  02:42:09
 5         6  33172    Nicholas Tseffos  02:48:42
 6         7  30053   Satoshi Mitsumori  02:50:33
 7         8  30051    Harrison Kieffer  02:51:18
 8         9  30086        Steven Forte  02:54:34
 9        10  30042          Grant Rice  02:55:49
 10       11  30049       Andrew Fisher  02:56:05
 11       12  30038         Edgar Garza  02:56:40
 12       13  30094         Wesley King  02:56:58
 13       14  30112          Jake Smith  02:57:38
 14       15  30096        Mark Laprade  02:58:00
 15       16  30142         Scott Roman  02:59:09
 16       17  30054       James Nabholz  02:59:59
 17       18  30056       Kazufumi Seki  03:01:21
 18       19  30084      Nicholas Eulau  03:01:59
 19       20  30045      Mitchell Davis  03:02:18
 20       21  30075          Eddie Bell  03:03:12
 21       22  30039  Montana Klingsporn  03:03:17
 22       23      2      Mathias Osmark  03:04:01
 23       24  30052          Sean Kunis  03:05:22
 24       25  30074      Dylan Beaulieu  03:05:28]

list

In [187]:
n = 150

def table_empty(frame):
    return True if outcomes.empty else False

response = requests.post(urlbase_2019 + str(n))
soup = BeautifulSoup(response.content, "html.parser")
results = soup.find(attrs={"class": "race-search-main"}) \
    .find("table")
raceframe = pd.read_html(str(results))
outcomes = raceframe[0]

table_empty(outcomes)

True

In [180]:
n = 150

def table_empty(frame):
    return True if len(raceframe) == 0 else False

response = requests.post(urlbase_2019 + str(n))
soup = BeautifulSoup(response.content, "html.parser")
results = soup.find(attrs={"class": "race-search-main"}) \
    .find("table")
raceframe = pd.read_html(str(results))
outcomes = raceframe[0]

table_empty(outcomes)

False

In [177]:
def table_empty(frame):
    return True if outcomes.empty else False

response = requests.post(urlbase_2019 + str(2))
soup = BeautifulSoup(response.content, "html.parser")
results = soup.find(attrs={"class": "race-search-main"}) \
    .find("table")
raceframes = pd.read_html(str(results))
outcomes = raceframes[0]

race_results = outcomes

outcomes

    Overall    Bib                  Name      Time
0        26  33054       Nixon Gutierrez  03:06:05
1        27  30120      Jeff Vinciguerra  03:06:11
2        28  33058          Matthew Katz  03:06:21
3        29  30002          Carson Davis  03:06:25
4        30  30061        Willy Mcnamara  03:07:05
5        31  30119     Jeffrey Suppinger  03:07:41
6        32      7    Leah Frazier Allen  03:07:51
7        33  30513           Emily Soppe  03:11:16
8        34  32300       Anthony Jackson  03:11:30
9        35  30138            Gregg Lamb  03:11:59
10       36  33055        Caleb Chambers  03:12:24
11       37  30046         Josh Einspahr  03:12:40
12       38  30282          Bryan Curtin  03:13:20
13       39  30055          Jason Schwab  03:13:22
14       40  30180          Steve Troxel  03:13:58
15       41  30145          David Burton  03:14:24
16       42  33195         Scott Slavens  03:15:06
17       43  30124          Allison Koch  03:15:27
18       44  30210       Richard Sanzone  03:15:38
19       45  30149            Alan Arpon  03:15:42
20       46  33203  Remington Ponce-Pore  03:15:49
21       47  30259           Tara Austin  03:15:54
22       48  30179    Cyrille Tiberghien  03:15:57
23       49  30097            David Long  03:17:04
24       50  31210         David Quiroga  03:18:39

In [193]:
def table_empty(frame):
    return True if outcomes.empty else False

response = requests.post(urlbase_2019 + str(2))
soup = BeautifulSoup(response.content, "html.parser")
results2 = soup.find(attrs={"class": "race-search-main"}) \
    .find("table")
raceframes2 = pd.read_html(str(results2))
outcomes2 = raceframes2[0]

race_results = pd.concat([race_results, outcomes2], ignore_index=True)

race_results

    Overall    Bib                  Name      Time
0        26  33054       Nixon Gutierrez  03:06:05
1        27  30120      Jeff Vinciguerra  03:06:11
2        28  33058          Matthew Katz  03:06:21
3        29  30002          Carson Davis  03:06:25
4        30  30061        Willy Mcnamara  03:07:05
5        31  30119     Jeffrey Suppinger  03:07:41
6        32      7    Leah Frazier Allen  03:07:51
7        33  30513           Emily Soppe  03:11:16
8        34  32300       Anthony Jackson  03:11:30
9        35  30138            Gregg Lamb  03:11:59
10       36  33055        Caleb Chambers  03:12:24
11       37  30046         Josh Einspahr  03:12:40
12       38  30282          Bryan Curtin  03:13:20
13       39  30055          Jason Schwab  03:13:22
14       40  30180          Steve Troxel  03:13:58
15       41  30145          David Burton  03:14:24
16       42  33195         Scott Slavens  03:15:06
17       43  30124          Allison Koch  03:15:27
18       44  30210       Richard Sanzone  03:15:38
19       45  30149            Alan Arpon  03:15:42
20       46  33203  Remington Ponce-Pore  03:15:49
21       47  30259           Tara Austin  03:15:54
22       48  30179    Cyrille Tiberghien  03:15:57
23       49  30097            David Long  03:17:04
24       50  31210         David Quiroga  03:18:39
25       26  33054       Nixon Gutierrez  03:06:05
26       27  30120      Jeff Vinciguerra  03:06:11
27       28  33058          Matthew Katz  03:06:21
28       29  30002          Carson Davis  03:06:25
29       30  30061        Willy Mcnamara  03:07:05
30       31  30119     Jeffrey Suppinger  03:07:41
31       32      7    Leah Frazier Allen  03:07:51
32       33  30513           Emily Soppe  03:11:16
33       34  32300       Anthony Jackson  03:11:30
34       35  30138            Gregg Lamb  03:11:59
35       36  33055        Caleb Chambers  03:12:24
36       37  30046         Josh Einspahr  03:12:40
37       38  30282          Bryan Curtin  03:13:20
38       39  30055          Jason Schwab  03:13:22
39       40  30180          Steve Troxel  03:13:58
40       41  30145          David Burton  03:14:24
41       42  33195         Scott Slavens  03:15:06
42       43  30124          Allison Koch  03:15:27
43       44  30210       Richard Sanzone  03:15:38
44       45  30149            Alan Arpon  03:15:42
45       46  33203  Remington Ponce-Pore  03:15:49
46       47  30259           Tara Austin  03:15:54
47       48  30179    Cyrille Tiberghien  03:15:57
48       49  30097            David Long  03:17:04
49       50  31210         David Quiroga  03:18:39